@import "simple-tags.css";

body {
  margin: 0;
  font-family: sans-serif;
}

.page-container {
  width: 700px;
  margin: 100px auto;
}
.btn-submit {
  margin-top: 20px;
  outline: none;
  border: none;
  height: 32px;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
  cursor: pointer;
}