.simple-tags-wrap {
    width: 100%;
    float: left;
    position: relative;
}

.simple-tags {
    width: 100%;
    float: left;
    padding: 1px 3px;
    border: 1px solid #d9d9d9;
    transition: all .3s;
    border-radius: 4px;
    position: relative;
    cursor: text;
}

.simple-tags .tag {
    display: inline-block;
    padding: 3px 7px;
    background: #fafafa;
    border: 1px solid #e8e8e8;
    margin: 2px;
    border-radius: 4px;
    font-size: 14px;
    float: left;
}
.simple-tags .tag i {
    font-style: normal;
    padding: 0 2px;
    margin-left: 7px;
    cursor: pointer;
}

.simple-tags-input-wrap {
    position: relative;
    float: left;
}

.simple-tags-input {
    outline: none;
    border: none;
    font-size: 14px;
    line-height: 23px;
    margin: 2px;
}

.simple-tags-wrap.has-error .simple-tags {
    border: 1px solid #f5222d;
}

.simple-tags-wrap .simple-tags-error {
    color: #f5222d;
    font-size: 14px;
    line-height: 22px;
    margin-top: 2px;
    display: inline-block;
}

.simple-tags-warning {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    padding: 1px 3px;
    text-align: center;
    margin-top: 7px;
}
.simple-tags-warning:before {
    content: '';
    border: 7px solid transparent;
    position: absolute;
    top: -13px;
    left: 50%;
    margin-left: -7px;
    border-bottom: 7px solid #777;
}
.simple-tags-warning span {
    display: inline-block;
    padding: 7px 10px;
    background: #777;
    color: #fff;
    font-size: 13px;
    border-radius: 3px;
}